#### Built-in functions

In [2]:
x = [45,22,16,57,89]

In [3]:
min(x)

16

In [4]:
# min - function namr
# x - parameter or argument
# 16 - return value

#### Simple function

In [6]:
# Function definition
def show():
    print('Hello World')

In [7]:
# Function call
show()

Hello World

In [8]:
show()
show()
show()

Hello World
Hello World
Hello World

In [9]:
for i in range(10):
    show()

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

#### Parameterized functions

In [11]:
def square(n):   # n -> parameter
    value = n * n
    print('Square:', value)

In [12]:
# Function call
square(5)

Square: 25

In [14]:
square(89)

Square: 7921

In [15]:
square(34.78)

Square: 1209.6484

In [16]:
def large(x, y):
    if x > y:
        print('Large:', x)
    else:
        print('Large:', y)

In [17]:
num1 = int(input('Enter first  number: '))
num2 = int(input('Enter second number: '))
large(num1, num2)

Enter first  number: 34
Enter second number: 67
Large: 67

#### Function with return

In [20]:
def square(n):   # n -> parameter
    value = n * n
    return value

In [21]:
x = square(6)

In [22]:
x

36

In [23]:
print('Square is', square(7))

Square is 49

In [24]:
7 * square(7)

343

In [25]:
num = int(input('Enter the number:'))
print('Square is', square(num))

Enter the number:12
Square is 144

In [26]:
# Write a function to find factorial of a number

def factorial(n):
    fact = 1
    for x in range(1, n+1):
        fact = fact * x
        
    return fact

In [27]:
factorial(5)

120

In [28]:
num = int(input('Enter the number:'))
print('Factorial is', factorial(num))

Enter the number:23
Factorial is 25852016738884976640000

In [29]:
# Read a number and find the sum of digits of this number
# number : 12345   
# sum of digits: 1 + 2 + 3 + 4 + 5 = 15
def sumdig(n):
    add = 0
    while n > 0:
        rem = n % 10
        add = add + rem
        n = n // 10
        
    return add

In [31]:
num = int(input('Enter the number:'))
sumdig(num)

Enter the number:256673

29

In [32]:
# Write a function to filter the odd numbers from list

x = [56,2,14,37,51,27,86,28,35]

In [33]:
def odd(num):
    e = []
    for n in num:
        if n % 2 == 1:
            e.append(n)
    return e

In [34]:
odd(x)

[37, 51, 27, 35]

#### Function with multi-return

In [36]:
def calc(n):
    sq = n * n
    cu = n ** 3
    return sq, cu

In [37]:
x, y = calc(3)

In [38]:
x

9

In [39]:
y

27

In [40]:
def calculate(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    mul = num1 * num2
    div = num1 / num2
    return add, sub, mul, div

In [41]:
calculate(56,12)

(68, 44, 672, 4.666666666666667)

In [42]:
calculate(45, 67)

(112, -22, 3015, 0.6716417910447762)

#### Default Parameters and Keyword Arguments

In [52]:
def calc(x=4, y=2, z=3):
    add = x + y + z
    return(add)

In [58]:
print('Add1:',calc(8,4,1))
print('Add2:',calc(8,4))
print('Add3:',calc(5))
print('Add4:',calc())
print('Add5:',calc(y=6))
print('Add6:',calc(y=6,z=8,x=2))

Add1: 13
Add2: 15
Add3: 10
Add4: 9
Add5: 13
Add6: 16

In [61]:
t = [5,7,5,2,8,9]
sorted(t)

[2, 5, 5, 7, 8, 9]

In [62]:
sorted(t, reverse=True)

[9, 8, 7, 5, 5, 2]

#### Variable Length Arguments

In [64]:
def show(*x):
    for n in x:
        print(n)

In [65]:
show(5,22,16)

5
22
16

In [66]:
show('hello',56.78,12,'kite',190)

hello
56.78
12
kite
190

#### lambda / anonymous functions

In [68]:
square = lambda x: x * x

In [69]:
square(5)

25

In [70]:
cube = lambda x: x ** 3

In [71]:
cube(5)

125

#### map function

In [73]:
data = [45,12,37,56,22,75,13,48]

In [74]:
new = map(lambda x: x/2, data)
list(new)

[22.5, 6.0, 18.5, 28.0, 11.0, 37.5, 6.5, 24.0]

In [75]:
new = map(lambda x: x*x, data)
list(new)

[2025, 144, 1369, 3136, 484, 5625, 169, 2304]

#### filter function

In [77]:
data = [45,12,37,56,22,75,13,48]

In [78]:
new = filter(lambda x: x > 40, data)
list(new)

[45, 56, 75, 48]

In [79]:
new = filter(lambda x: x % 2 == 1, data)
list(new)

[45, 37, 75, 13]